<!-- Footer -->
<footer class="container dark-grey" style="padding:32px">
  <a href="#" class="button black padding-large margin-bottom"><i
      class="fa fa-arrow-up margin-right"
    ></i>To the top</a>
  <p>Powered by
    <a
      style="color: white"
      href="https://www.w3schools.com/w3css/default.asp"
      target="_blank"
    >w3.css</a></p>
</footer>