<nav class="nav-bar black">
  <div class="links">
    <LinkTo @route="index" class="nav-bar-item nav-button">
      <i class="fa fa-facebook-official"></i>
    </LinkTo>
    <LinkTo @route="index" class="nav-bar-item">
      <i class="fa fa-instagram"></i>
    </LinkTo>
    <LinkTo @route="index" class="nav-bar-item">
      <i class="fa fa-twitter"></i>
    </LinkTo>
    <LinkTo @route="index" class="nav-bar-item">
      <i class="fa fa-linkedin"></i>
    </LinkTo>
    <LinkTo @route="index" class="nav-bar-item right">
      <i class="fa fa-search"></i>
    </LinkTo>
  </div>
</nav>